@use 'variables' as var;
@use 'mixin';

:root {
  --base-fontsize: 16;
}
@include mixin.pc {
  :root {
    --base-fontsize: 14;
  }
}
@function rem($pixels) {
  @return calc($pixels / var(--base-fontsize) * 1rem);
}

h1 {
  font-size: var.$h1;
  color: var.$gray-900;
  font-weight: 500;
  line-height: var.$single-line;
}
h2 {
  font-size: var.$h2;
  color: var.$gray-700;
  font-weight: 500;
  line-height: var.$single-line;
}
h3 {
  font-size: var.$h3;
  color: var.$gray-700;
  font-weight: 500;
  line-height: var.$multi-line;
}
h4 {
  font-size: var.$h4;
  color: var.$gray-500;
  font-weight: 500;
  line-height: var.$multi-line;
}
p {
  font-size: var.$text-main;
  color: var.$gray-500;
  font-weight: 400;
  line-height: var.$multi-line;
}
a {
  font-weight: 500;
}
img {
  width: 100%;
}
.button {
  &--tertiary {
    padding: rem(8) rem(16);
    color: var.$orange;
    border-radius: 0.2em;
    &:hover {
      background-color: var.$gray-200;
    }
  }
}

.href {
  font-size: var.$text-main;
  font-weight: 500;
  color: #5a7cb4;
  text-decoration: underline;
}
.layout {
  @include mixin.flex-column(rem(40));
  &--a {
    @extend .layout;
    padding: rem(48) rem(32) rem(80);
    @include mixin.pc {
      padding: rem(48) rem(0) rem(80);
    }
  }
  &--b {
    @extend .layout;
    padding: rem(48) rem(0) rem(80);
  }
}
.paragraph-wrapper {
  @include mixin.flex-column(rem(56));
  padding-top: rem(32);
}
.paragraph {
  @include mixin.flex-column(rem(24));
}
