@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin iconlayout {
  display: inline-flex;
  vertical-align: middle;
}
@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
// Media Queries
@mixin sp {
  @media only screen and (max-width: 500px) {
    // スマホレイアウト
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 501px) and(max-width: 999px) {
    // タブレットレイアウト
    @content;
  }
}

@mixin pc {
  @media only screen and (min-width: 1000px) {
    // パソコンレイアウト
    @content;
  }
}
