@use 'mixin';

/* Color styles */
$gray-900: #464646;
$gray-700: #656565;
$gray-600: #797979;
$gray-500: #979797;
$gray-400: #a8a8a8;
$gray-300: #cfd4d7;
$gray-200: #ecececcb;
$gray-100: #fbfbfb;
$gray-0: #ffffff;
$orange: #eaa767;
$pink: #f678a6;

/* Text-size styles */
:root {
  --base-fontsize: 16;
}
@include mixin.pc {
  :root {
    --base-fontsize: 14;
  }
}
@function rem($pixels) {
  @return calc($pixels / var(--base-fontsize) * 1rem);
}

$h1: rem(30);
$h2: rem(22);
$h3: rem(17);
$h4: rem(15);
$text-main: rem(14);
$text-small: rem(10);

$multi-line: 160%;
$single-line: 100%;
$letter-spacing: 0.1em;
